// site color theme
$primary-color: #00aacc;
$secondary-color: #cc00aa;

$error-color: #ff0000;
$success-color: #00ff00;

$white-color: #fff;
$black-color: #000;
$gray-color: #ccc;

// typography
$sans-font: 'Poppins', sans-serif;
$serif-font: 'PT Serif', serif;

// font sizing
$font-size-base: 1rem;
$font-size-normal-text: $font-size-base * 1.65;

// sizing
$base-border-radius: 4px;
